body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

p {
  font-family: "Montserrat";
}

button {
  font-family: "Helvetica Neue" !important;
}

div {
  font-family: "Montserrat";
}

span {
  font-family: "Montserrat";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#searchbox {
  padding-left: 40px;
}

.input-container > div > div {
  box-shadow: none !important;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}